[submodule "WoodFraming/extern/liquidfun"]
	path = WoodFraming/extern/liquidfun
	url = https://github.com/chlorell/liquidfun.git
[submodule "WoodFraming/extern/pugixml"]
	path = WoodFraming/extern/pugixml
	url = https://github.com/chlorell/pugixml.git
[submodule "WoodFraming/extern/glm"]
	path = WoodFraming/extern/glm
	url = https://github.com/chlorell/glm.git
